<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.TestoMeter.TestPages.RecordDeletTestPage"/>
      <class name="com.TestoMeter.TestPages.AddEmployTestPage"/>
      <class name="com.TestoMeter.TestPages.EmployListTestPage"/>
      <class name="com.TestoMeter.TestPages.HomeTestPage"/>
      <class name="com.TestoMeter.TestPages.ViewEmployListTestPage"/>
      <class name="com.TestoMeter.TestPages.LoginTestPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
